@font-face {
  font-family: 'Canaro Medium';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Medium';
  src: url("./fonts/Canaro-Medium.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Canaro Light';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Light';
  src: url("./fonts/Canaro-Light.woff2?v=3.19") format("woff2");
}